* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Conatiner ===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header ===================*/
.header {
    width: 100%;
    height: 200px;
    background-color: #003D74;
}
.head {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #C6D9DF;
}

.head_text {
    width: 65%;
}

.title {
    margin-left: 55px;
    top: 31px;
}

.main_text {
    font-weight: 700;
    font-size: 46px;
    line-height: 41px;
    color: #003D74;
    margin-bottom: 20px;
    margin-top: 80px;
}

.under_text {
    font-weight: 500;
    font-size: 28px;
    line-height: 16px;
    color: #003D74;
    opacity: 0.8;
    margin-bottom: 50px;
}

.contacts {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.contact {
    display: block;
    margin: 0px 150px 15px 0px;
}

.icons {
    width: 12px;
}

.contacts_text {
    font-weight: 500;
    font-size: 14px;
    color: #003D74;
    float: right;
    margin-left: 10px;
}

.head_img {
    position: relative;
}

.photo {
    position: absolute;

    top: 50%;
    right: 250px;
    transform: translateY(-50%);
    max-height: 84%;
    border-radius: 50%;
    border: 3px solid #003D74;
}

/* Header ===============!!!=*/

/* Main ===================*/

.info_block {
    margin: 130px 55px 0 55px;
    display: flex;
    flex-wrap: nowrap;
}

.left_block {
    width: 45%;
    border-right: 3px solid #96b9c5;
    margin-right: 30px;
}

.block_h1 {
    width: 94%;
}

.main_h1 {
    font-weight: 700;
    font-size: 28px;
    color: #003D74;
    background-color: #e8f0f2;
    padding: 5px 20px;
}

.text_h1 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px; 
    margin-bottom: 30px;
}

.skill_block {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}

.skill {
    width: 60%;
    font-weight: 500;
    font-size: 14px; 
}

.skill_bar {
    width: 100%;
    background-color: #C6D9DF;
    height: 10px;
    border-radius: 10px;
}

/* Bar================== */

.bar40 {
    width: 40%;
    height: 10px;
    background-color: #003D74;
    border-radius: 10px;
}

.bar65 {
    width: 65%;
    height: 10px;
    background-color: #003D74;
    border-radius: 10px;
}

.bar75 {
    width: 75%;
    height: 10px;
    background-color: #003D74;
    border-radius: 10px;
}

.bar80 {
    width: 80%;
    height: 10px;
    background-color: #003D74;
    border-radius: 10px;
}

.bar90 {
    width: 90%;
    height: 10px;
    background-color: #003D74;
    border-radius: 10px;
}
/* Bar================== */

#margin {
    margin-top: 30px;
}

.img_hobbie {
    width: 10px
}

.hobbies_li {
    font-weight: 700;
    font-size: 18px; 
    margin-bottom: 15px;
    color: #003D74;
}


.right_block {
    width: 55%;
}

.job_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 17px;
}

.title_job {
    font-size: 17px;
    font-weight: 700;
    color: #003D74;
}

.years_job {
    font-size: 14px;
    font-weight: 500;
    color: #C6D9DF;
}

.footer_img {
    margin-top: 20px;
    margin-bottom: 35px;
}
